node_modules/
__pycache__/
*.pyc

# Ignore all files in known_faces directory except .gitkeep
backend/known_faces/*
!backend/known_faces/.gitkeep

# Ignore temporary uploaded files
backend/temp.jpg
backend/temp_upload.jpg
temp.jpg
temp_upload.jpg

# React build outputs
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
